._._1{
  color: black;
  position: absolute;
  padding: 10px;
  width: max-content;
  margin-top: -40px;
  right: auto;
  margin-left: -160px;
  font-size: larger;
}

 ._._59{
  color: black;
  font-size: smaller;
  margin-left: -80px;
  text-align: right;
  position: absolute;
 }

 .groupSum{
  margin-left: 200px;
  text-align: right;
  margin-top: -15px;
 }